/* FOOTER */

footer
{
	padding-bottom: 10px;
	background-color: #1c3037;
	color: #c6cbcd;
}

footer ul, li
{
	all: unset; /* Para quitar todas las propiedades por defecto */
	display: block;
	padding: 5px;
}

footer a
{
	all: unset; /* Para quitar todas las propiedades por defecto */
}